@font-face {
    font-family: "Amaranth";
    src: url("/fonts/amaranth.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
